.container {

    display: flex;

    justify-content: center;

    align-items: center;

    gap: 20px;
}

.buttons {

    display: flex;

    flex-direction: column;

    gap: 10px;
}

select {

    width: 220px;
}